# Data Science Club - Workshop 1: Importing and understanding our data

Today we are going to import different types of data.

### 1. First let's analyze and import the Titanic dataset

In [2]:
# First we are going to import the necessary packages to work with data
import pandas as pd

In [4]:
# Next, we are going to import our "train" data (the data we will use to train our model)... 'train.csv'
filepath_train = 'train.csv'
train = pd.read_csv(filepath_train)

In [6]:
# You should also importing our "test" dataset, where we will be inputting the predictions... 'test.csv'
filepath_test = 'test.csv'
test = pd.read_csv(filepath_test)

In [7]:
# When you don't understand a function or method to know what parameters it requires
# just look at the documentation, a quick way to do it is by putting 
# try running this box with ctrl + enter and see what happens

?print

# Or just google the command (i.e. )

In [11]:
# Print the first 10 rows in the train dataset
print(train.head(5))
# Print the last 10 rows in the dataset

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [13]:
# Figure out which types of data belong to each variable
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [16]:
# Get some basic statistics on the numeric variables
train.summary()

AttributeError: 'DataFrame' object has no attribute 'summary'

In [ ]:
# Get some basic statistics on the categorical variables
...

In [ ]:
# Create a subset of all non-numeric types and another subset for all incomplete datasets
df_categorical = ...
df_incomplete = ...

In [ ]:
# For the 'Embarked' variable, count the values of each category
...

In [ ]:
# Group the 'Sex' and 'Survived' categories, and compare the means of each group 
# (hint: you can do this in one line of code)
...

### 2. Working with STATA files

In [ ]:
# It works pretty much the same way! Try importing the "gender.dta" dataset and exploring it

### 3. Working with APIs

In [ ]:
# APIs work with a format called JSON, and it is also pretty straightforward... 
# Go to the Somerville open data portal at https://data.somervillema.gov
# Find a dataset that is interesting and connect to it with the pd.read_json(url) command
# Explore it